* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    background: linear-gradient(135deg, rgb(67, 185, 113), rgb(185, 107, 81));
}

.wrapper {
    font-size: 16px;
    width: 90vw;
    max-width: 28em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background: rgba(88, 161, 225, 0.557);
    padding: 3em 1.8em;
    border: 2px solid rgba(255, 255, 255, 0.275);
    border-radius: 20px;
    box-shadow: 10px 20px 35px 0;
    text-align: center;
}

.search-container {
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.5em;
}

.search-container input,
.search-container button {
    outline: none;
    border: none;
    font-size: 1em;
}

.search-container input {
    padding: .7em;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.275);
    color: rgba(255, 255, 255, 0.727);
    font-weight: 500;

}

.search-container input::placeholder{
    color: rgba(255, 255, 255, 0.353);
}

.search-container button{
    color:rgba(29, 124, 207, 0.849) ;
    background-color: whitesmoke ;
    border-radius: 10px;
}
.search-container button:hover{
    color: rgba(29, 124, 207, 0.849);
    background: white;
    cursor:pointer;
}
